name: Continuus Integration and Delivery with Github Actions

on:
  push:
    branches:
      - main


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Setup Java 21
        uses: actions/setup-java@v2
        with:
          java-version: '21'
          distribution: 'adopt' # See 'Supported distributions' for available options
          cache: maven

      - name: Build Application .jar
        working-directory: ./
        run: mvn clean package


      - name: Docker Compose Build
        working-directory: ./
        run: docker compose build

      - name: Push to Docker Hub Container Registry
        run: |
          docker tag ${{ secrets.DOCKER_USERNAME }}/rest-with-spring-boot-and-java-erudio:latest ${{ secrets.DOCKER_USERNAME }}/rest-with-spring-boot-and-java-erudio:${{github.run_id}}
          docker push ${{ secrets.DOCKER_USERNAME }}/rest-with-spring-boot-and-java-erudio:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/rest-with-spring-boot-and-java-erudio:${{github.run_id}}



